*{
  padding: 0px;
  margin: 0px;
  font-family: 'Verdana';
}
.test{
background: red;
}
.formularz-logowanie{
  text-align: center;
}

.dane{
  border-radius: 3px;
  border: solid 0.5px #007bff;
  width: 80%;
  padding: 2px;
}
.news{
  height: 200px;
  margin-top: 30px;
}
.no1{
  margin-top: 120px;
}
.ksiazki{
  position: absolute;
  width: 80%;

  margin:auto 120px;
}
