*{
  margin: 0px;
  padding: 0px;
  font-family: 'Trebuchet', sans-serif;
}

a{
  text-decoration: none;
  color: inherit;
}
a:hover{
  text-decoration: none;
  color: inherit;
}
body{
  background-image: url("../obrazy/tlo.jpg");

}

a:link{
  text-decoration: none;
  color: inherit;
}
a:visited{
  text-decoration: none;
  color: inherit;
}
.upper-strip{
  background: black;
  color: white;
  padding: 5px;
  text-align: right;

}

section{
  padding: 40px 0px;
  margin: 80px auto;
  background: orange;
}

footer{
  background: black;
  color: white;
  padding-bottom: 5px;
  padding-top: 10px;


}
footer p {
  text-align: center;

}
