*{
  padding: 0px;
  margin: 0px;
  font-family: 'Verdana';
  
}
body{
  background: #f8f9fa;
}

.test{
background: red;
}
.formularz-logowanie{
  text-align: center;
}

.dane{
  border-radius: 3px;
  border: solid 0.5px #007bff;
  width: 80%;
  padding: 2px;

}
.news{
  height: auto;
  margin-top: 5px;
  margin-bottom: 60px;
  padding-bottom: 15px;
  overflow: visible;
  background-color: #80bdff;
}
.news-heading{
  padding: 10px;
  text-decoration: underline;
}
.no1{
  margin-top: 135px;
}
.ksiazki{
  position: absolute;
  width: 80%;
  margin-top: 120px;
}

.bg-news{
  background-color: #80bdff;
}
.news-button{
  text-align: right;;
}
.week-table{
  margin-top: 120px;
  text-align: center;
}
.content-center{

  text-align: center;
}

.bold{
  font-weight: bold;
}
.table-books{
  margin-left: 300px;
}
.mgList{
  margin-top: 15px;
  border: solid black 1px;
  border-radius: 2px;
}
.mgList:before{
  content:'';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 3px;
  background: white;
	border-radius: 5px;
	transition: all 0.5s ease;
}
.mgList:hover:before{
  width: 100%;
}
.newsText{
  height:150px;
  text-align: left;
  vertical-align: top;
  overflow: visible;
}